* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(66, 103, 178);
    color: #fff;
    line-height: 1.6;
    text-align-last: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 30px;
}

.heading {
    height: 300px;
}

.heading h1 {
    font-size: 50px;
    line-height: 1.6;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {
        top: -50px;
    }

    100% {
        top: 200px;
    }
}

.content h2 {
    font-size: 25px;
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {
        left: -1000px;
    }

    100% {
        left: 0;
    }
}

.btn {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 1rem 2rem;
    margin-top: 50px;
    border: 1px solid #fff;
    border-radius: 25px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    animation-name: btn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    opacity: 0;
    transition: 0.7s;
}

@keyframes btn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn:hover {
    color: rgb(66, 103, 178);
    background-color: #fff;
}
